<!--Name: Caleb Okafor (301151683)
    Course: COMP229 Assignment 01
    Date: Feb 12, 2022.
    Description: Partial 'body' view for the 'Projects' web page-->
<body>
    <table id="projectsTable">
        <tr >
            <td class="tableHeading">Development of the Shopwise Database</td>
            <td class="tableHeading">Analysis of Research data using Python</td>
            <td class="tableHeading">Development of a Mobile Application Software System</td>
        </tr>
        <tr>
            <td style="padding-left: 30px;"><img src="..\Assets\images\shopwiseDatabase.png" alt="shopwise" class="projectPictures"></td>
            <td style="padding-left: 30px;"><img src="..\Assets\images\dataAnalysis.png" alt="shopwise" class="projectPictures"></td>
            <td style="padding-left: 30px;"><img src="..\Assets\images\systemDesign.png" alt="shopwise" class="projectPictures"></td>
        </tr>
        <tr>
            <td class="projectDescription">This task required the development of a datbase system for an online shopping enterprise called ShopWise. This was accomplished with utilizing the Oracle SQL language.</td>
            <td class="projectDescription">This task required the analysis of a set of data to find outliers. The solution was achieved using the Python programming language.</td>
            <td class="projectDescription">This project involved critical thinking and problem solving skills to develop and design the systems that were to be incorporated in the web application being developed.</td>
        </tr>
    </table>
</body>