<!--Name: Caleb Okafor (301151683)
    Course: COMP229 Assignment 01
    Date: Feb 12, 2022.
    Description: Partial 'body' view for the 'Contact' web page-->

<div class="div1">
    <h3>Reach out to me via:</h3>
    <ul>
        <li><b>email:</b> cokafo11@my.centennialcollege.ca</li>
        <li><b>phone:</b> +1(416)-895-421</li>
        <li><b>input specific questions below</b></li>
    </ul>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">First</label>
          <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Last</label>
          <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Phone</label>
          <input type="number" class="form-control" id="inputAddress" placeholder="+1">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Email 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="@abc.com">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Ask your question?</label>
          <textarea class="form-control" id="inputCity" rows="2" cols="50"></textarea>
        </div>
        <div class="col-md-6" style="padding-top: 40px;">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>