<!--Name: Caleb Okafor (301151683)
    Course: COMP229 Assignment 01
    Date: Feb 12, 2022.
    Description: Partial 'body' view for the 'Home' web page-->

<table id="homePageTable">
    <tr>
      <td id="name" style="padding-left: 50px; padding-bottom: 20px;" colspan="2">Caleb Okafor
      </td>
    </tr>
    <tr>
      <td rowspan="2"><img src="../Assets/images/homePagePic.JPG " alt="Face pic" id="homePic"></td>
      <td id="welcomeStatement" style="padding-left: 50px;">Welcome to my Crib!
      <p style="font-size: 15px; font-family: cursive; color: black;"><q>Where creativity has no limits...</q></p>
      </td>
    </tr>
  </table>