<!--Name: Caleb Okafor (301151683)
    Course: COMP229 Assignment 01
    Date: Feb 12, 2022.
    Description: Partial 'body' view for the 'About' web page-->

<table id="homePageTable" style="width: 1000px;">
    <tr>
      <td rowspan="2"><img src="../Assets/images/aboutPic.JPG " alt="Face pic" id="aboutPic"></td>
      <td id="welcomeStatement" style="padding-left: 50px;">All you need to know...
      <p style="font-size: 15px; font-family: cursive; color: black;"><q>I am an enthusiastic software developer with a knack for dissolving the ostensible limits in web design. My specialities include in C# programming, web development (using HTML, JavaScript, CSS, and Node.js), and database managament in the SQL language. More information can be found in my <a href="../Assets/resume.pdf" id="resume">resume</a></q></p>
      </td>
    </tr>
  </table>