<!--Name: Caleb Okafor (301151683)
    Course: COMP229 Assignment 01
    Date: Feb 12, 2022.
    Description: Partial 'body' view for the 'Services' web page-->

<div class="divClass">
    <h3 style="text-align: center">Services Offered:</h3>
    <p>
        <ul class="list">
            <li>Personal and corporate web site development</li>
            <li>Database building and maintenance</li>
            <li>Application development (e.g., mobile and web applications for specific purposes)</li>
            <li>Data analysis using Python IDE</li>
            <li>Software quality assurance and testing</li>
            <li>Project development advising</li>
            <li>Licensed tutoring on software development skills (terms and conditions apply)</li>
        </ul>
    </p>
</div>
